#myElement {
    transform: rotate(45deg);
  }

#clock {
    
}

#clock img {
    position: absolute;
    /* z-index: 2; */
}

#hour {
    position: absolute;
    z-index: 1;
}

#minute {
    position: absolute;
    z-index: 2;
}

#second {
    position: absolute;
    z-index: 3;
}
